<table>
	<tr><td>Product Status Code	</td>	<td><%= form.text_field :code			%>	</td></tr>
	<tr><td>Description			</td>	<td><%= form.text_field	:description	%>	</td></tr>
	<tr><td>Allocatable			</td>	<td><%= form.check_box	:allocatable	%>	</td></tr>
</table>