<h4>Edit Unit of Measure</h4>
	<% form_for :uom, :url => {:controller => 'admin', :action => 'update_uom'} do |form| %>
		<%= form.hidden_field :id	%>
		<%= render :partial => 'uom', :locals => {:form => form}	%>
		<%= submit_tag "Update UOM"	%>
	<% end %>