<table>
	<tr><td>Line Number	</td>	<td><%= form.text_field :line_number											%>	</td></tr>
	<tr><td>Product		</td>	<td><%= form.select :product_id, @company.products.collect {|p| [p.name, p.id]}	%>	</td></tr>
	<tr><td>Quantity 	</td>	<td><%= form.text_field	:quantity												%>	</td></tr>
</table>