<h1>Receiving Module</h1>

	<ul>
		<li><%= link_to "Receipts", :controller => 'receiving', :action => 'receipts'				%>	</li>
		<li><%= link_to "Purchase Orders", :controller => 'receiving', :action => 'purchase_orders'	%>	</li>
	</u>