<table>
	<tr><td><%= form.label :name		%>	</td>	<td><%= form.text_field	:name											%>	</td></tr>
	<tr><td><%= form.label :direction	%>	</td>	<td><%= form.select :direction, DockDoor.directions.collect {|d| [d,d]}	%>	</td></tr>
</table>