<h3>Edit Allocation Strategy Line	</h3>
	<%= form_for [:admin, @allocation_strategy, @allocation_strategy_line] do |form|	%>
		<%= render :partial => 'allocation_strategy_line', :locals => {:form => form}	%>
		<%= submit_tag "Update Allocation Strategy Line"	%>
	<% end %>
