<h1>Edit Company Profile</h1>

<%= form_for [:admin, @company] do |form| %>
 	<%= render :partial => "company", :locals => {:form => form} %>
	<%= render :partial => "company_uoms", :locals => {:form => form} %>
	<%= submit_tag "Update"%>
<% end %>
