<table>
	<tr><td>Code				</td>	<td><%= form.text_field	:code								%>	</td></tr>
	<tr><td>Name				</td>	<td><%= form.text_field	:name								%>	</td></tr>
	<tr><td>Description			</td>	<td><%= form.text_field	:description						%>	</td></tr>
</table>	
	