<h4>Edit Location Type	</h4>

	<% form_for :location_type, :url => {:controller => 'admin', :action => 'update_location_type'} do |form|	%>
		<%= form.hidden_field :id	%>
		<%= render :partial => 'location_type', :locals => {:form => form}		%>
		<%= submit_tag "Update Location Type"	%>
	<% end %>