<h4>Edit Storage Strategy Line	</h4>
	<% form_for :storage_strategy_line, :url => {:controller => 'admin', :action => 'update_storage_strategy_line'} do |form|	%>
		<%= form.hidden_field :id													%>
		<%= render :partial => 'storage_strategy_line', :locals => {:form => form}	%>
		<%= submit_tag "Edit Line"													%>
	<% end %>
