<h4>Edit Product Warehouse Setup	</h4>
	<% form_for :product_warehouse_setup, :url => {:controller => 'admin', :action => 'update_product_warehouse_setup'} do |form|	%>
		<%= form.hidden_field :id													%>
		<%= render :partial => 'product_warehouse_setup', :locals => {:form => form}	%>
		<%= submit_tag "Update Product Warehouse Setup"								%>
	<% end %>