<h3>Warehouse <%= @warehouse.name	%>	</h3>

	<%= form_for [:admin, @warehouse] do |form|	%>
		<%= render :partial => 'warehouse', :locals => {:form => form}		%>
		<%= submit_tag "Update Warehouse"									%>
	<% end %>
