<h1>Welcome to WMS</h1>

<form action='/login' method='post'>
  <table>
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    <tr><td align=right>Email	</td> <td><input type="text" name="user[email]"/></td></tr>
    <tr><td align=right>Password  	</td> <td><input type="password" name="user[password]"/></td></tr>
  </table>
  <input type="submit" value="Sign In"/>

</form>
<br><br>
<%= link_to "Create New Company", :controller => 'setup', :action => 'index' %>

