<table>
	<tr><td>Code 		</td>	<td>	<%= @system_parameter.code			%>	</td></tr>
	<tr><td>Name		</td>	<td>	<%= @system_parameter.name			%>	</td></tr>
	<tr><td>Description	</td>	<td>	<%= @system_parameter.description	%>	</td></tr>
	<tr><td>Value		</td>	<td>	<%= form.check_box		:value		%>	</td></tr>
</table>