<h1>Edit Purchase Order Line	</h1>
	<%= form_for [:inbound, @purchase_order, @purchase_order_line] do |form|	%>
		<%= render :partial => 'purchase_order_line', :locals => {:form => form}	%>
		<%= submit_tag "Edit PO Line"			%>
	<% end %>
